@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
body, html {
  height: 100%;
  margin: 0;
}

/* preload */
body::after{
   position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
   content:url(img/empty.jpg) url(img/full.jpg);
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

#bg h3 {
  padding-top: 13px;
  margin: 0px;
  font-family: 'Libre Baskerville', serif;
  font-size: 2em;
  letter-spacing: 2px
}

#bg h3 span {
  background-color: rgb(255,255,255,0.6);
}

#bg a {
  text-decoration: none;
  color: black;
}

#bg {
  /* The image used */
  background-image: url("img/full.jpg");

  /* Full height */
  height: 120%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 1s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  text-align: center;
  -webkit-mask-image: -webkit-gradient(linear, left 70%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

#bg.scrolled {
     transition: background 1s ease;
    background-image: url("img/empty.jpg");
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.main {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
}

.main h1 {
   font-family: 'Libre Baskerville', serif;
    font-size: 2.5em;
    text-transform: uppercase;
}

.main p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2em;
    line-height: 150%;
}

.main img {
    width: 80%;
}

.big img {
    width: 100%;
}

.small img {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.gif img {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.photo {
  text-align: center;
}

.photo p {
  font-family: 'Libre Baskerville', serif;
  font-size: 1em;
  margin-bottom: 70px;
  margin-left: 5%;
  margin-right: 5%;
}

.photo h3 {
   font-family: 'Libre Baskerville', serif;
}

/* Make small full screen */

@media screen and (max-width: 700px) {
    .small img {
        margin: 0;
        width: 100%;
    }

    .gif img {
      width: 100%;
      margin: 0;
    }
}

@media screen and(max-width: 800px) {
    .gif img {
      width: 100%;
      margin: 0;
    }
}

.credit {
  font-family: 'Libre Baskerville', serif;
  font-size: .8em;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 1.5;
  color: #282828;
}
