@import "https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400|Pacifico|Playfair+Display|Satisfy|Abhaya+Libre";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
body, html {
  height: 100%;
  margin: 0;
}

/* preload */
body::after{
   position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
   content:url(empty.png) url(full.png);
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

#bg h3 {
  padding-top: 13px;
  margin: 0px;
  font-family: 'Libre Baskerville', serif;
  font-size: 2em;
  letter-spacing: 2px
}

#bg h3 span {
  background-color: rgb(255,255,255,0.6);
}

#bg a {
  text-decoration: none;
  color: black;
}

#bg {
  /* The image used */
  background-image: url("full.png");

  /* Full height */
  height: 120%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 1s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  text-align: center;
}

#bg.scrolled {
     transition: background 1s ease;
    background-image: url("empty.png");
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.main {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
}

.main h3 {
   font-family: 'Libre Baskerville', serif;
    font-size: 2.5em;
    text-transform: uppercase;
}

.main p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2em;
    line-height: 150%;
}

.main img {
    width: 80%;
}

.big img {
    width: 100%;
}

.small img {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.photo {
  text-align: center;
}

.photo p {
  font-family: 'Libre Baskerville', serif;
  font-size: 1em;
  margin-bottom: 70px;
}

/* Make small full screen */

@media screen and (max-width: 980px) {
    .small img {
        margin: 0;
        width: 100%;
    }

    .photo p {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.footer {
  text-align: center;
}

.footer hr {
  margin-left: 10%;
  margin-right: 10%;
}

.footer p {
  font-family: 'Libre Baskerville', serif;
  font-size: .9em;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

